:root {
    --body-background-color: #f5f6fe;
    --nav-current-border-bottom-color: #3252c3;
    --body-text-color: #404040;

    --submit-button-border-color: #3252c3;
    --submit-button-background-color: #3252c3;
    --submit-button-color: #ffffff;

    --error-button-border-color: #3252c3;
    --error-button-background-color: #3252c3;
    --error-button-color: #ffffff;
  }